.div-body {
  margin: 0;
  padding: 0;
  font-weight: bold;
  background-color: white;
  /* font-family: sansita; */
}
.div-icone {
  /* background-image: url("https://w7.pngwing.com/pngs/106/632/png-transparent-mathematics-drawing-homework-test-tickets-s-text-hand-monochrome.png"); */
}
.botao {
  background-color: #fad219;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 4px 4px black;
  transition: background-color 0.4s, color 0.3s;
}

button:enabled:hover {
  background-color: #d1a627;
  border: 3px solid black;
  transition: background-color 0.7s, color 0.3s;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#botao-enviar {
  background-color: #fad219;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 4px 4px black;
  margin: 3px 3px;
}

#botao-enviar:enabled:hover {
  background-color: #d1a627;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaço entre as divs */
}

#descricao,
#data,
#hora {
  background-color: #bfd9e9;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 4px 4px black;
  margin: 3px 3px;
}

#descricao:hover,
#data:hover,
#hora:hover {
  background-color: #80b4d3;
  transition: background-color 0.5s, font-size 0.5s, color 0.3s;
}
.div-add {
  align-items: center;
  background-color: #f2f7fa;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px black;
  color: #221f29;
  display: flex;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
}

.div-itens {
  align-items: center;
  background-color: #bfd9e9;
  border: 3px solid black;
  border-radius: 7px;
  box-shadow: 4px 4px black;
  color: #342f3e;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin: 8px;
  padding: 8px;
  transition: background-color 0.5s, font-size 0.5s, color 0.3s;
}
.div-itens:hover {
  background-color: #80b4d3;
  border: 3px solid black;
  color: #221f29;
  transition: background-color 0.5s, font-size 0.5s, color 0.3s;

  /* font-size: 16.5px; */
}

.div-itens p {
  margin: 0;
}

.div-itens:first-child {
  flex-grow: 2;
}

.div-listas {
  align-items: center;
  background-color: #f2f7fa;
  border: 4px solid black;
  border-radius: 13px;
  box-shadow: 5px 5px black;
  color: #26363f;
  margin: 8px;
  padding: 8px;
  transition: background-color 0.5s, color 0.3s;
}

footer {
  padding: 0px;
  bottom: 0;
  width: 100%;
  margin: 0;
}

header,
footer {
  background-color: #c0c6c9;
  color: #26363f;
  font-family: roboto, sans-serif;
}

.img-logo {
  margin-left: 5px;
  width: 65px;
}

.img-gif {
  width: 17rem;
  margin-top: 3rem;
}

ul.rodape li a {
  display: block;
  text-align: center;
}

.icone-redes-sociais {
  width: 30px;
}

ul.rodape {
  margin: 0;
  padding: 0;
  width: auto;
}
ul.rodape li {
  display: inline-block;
  padding: 8px;
  margin-left: 7px;
}
